
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.left-context-menu {
    background-color: red;
    width: 20%;
    display: none; /* Hidden by default for mobile view */
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #faf9f7;
    color: black;
    padding: 15px;
    text-align: center;
}

.navbar-center {
    font-size: 1.5em;
}

.chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-direction: column; /* Stack messages from top to bottom */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align to the right */
    margin: 5px 0;
}

.message {
    padding: 10px;
    border-radius: 5px;
    max-width: 70%;
    position: relative;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
    text-align: right;
    margin-top: 5px; 
}

.green {
    background-color: #d4edda;
    align-self: flex-start;
    border-radius: 24px 24px 24px 6px;
     margin-top :auto;
}

#green{
  align-self: flex-start;
}
.blue {
    background-color: #cce5ff;
    align-self: flex-end;
   border-radius: 24px 24px 6px 24px;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: white;
    cursor: pointer;
}

#send-button img {
    width: 20px; 
}

@media (min-width: 768px) {
    .left-context-menu {
        display: block; 
      height :100%;
    }
}
